# Data Organization

**Outline**
1. [Legal Talk](#Legal-Talk)
2. [Adulting](#Adulting)
3. [Medicine](#Medicine)
4. [High School](#High-School)
5. [Broadway](#Broadway)
6. [Pittsburgh](#Pittsburgh)
7. [Rant](#Rant)
8. [CS Career Questions](#CS-Career-Questions)
9. [Anime](#Anime)
10. [Explain Like I'm Five](#Explain-Like-I'm-Five)
11. [College](#College)
12. [NBA](#NBA)
13. [Cryptocurrency](#Cryptocurrency)
14. [Lawyer Talk](#Lawyer-Talk)
15. [Gaming](#Gaming)
16. [Calculations](#Calculations)
17. [Dropping Entries](#Dropping-Entries)
18. [Cleaning Up](#Cleaning-Up)
19. [Final Dataframes](#Final-Dataframes)
20. [New CSV Files](#New-CSV-Files)

## Purpose

The purpose of this notebook is to combine the two .csv files per subreddit and ensure equal posts across all subreddits for analysis purposes. One .csv file corresponds to 'hot' posts and one .csv file corresponds to 'new' posts.

In [1]:
import pandas as pd

In [2]:
# This will keep track of the size of all of the combined csv files
entriesCount = []

## Legal Talk

In [3]:
# Reading in the csv files
legalDataNew = pd.read_csv("../data/legalData.csv")
legalDataHot = pd.read_csv("../data/legalData2.csv")

In [4]:
# Getting the shape
legalDataNew.shape

(986, 8)

In [5]:
legalDataHot.shape

(990, 8)

In [6]:
# Concatinating the dataframes together, to make one big dataframe
legalData = pd.concat([legalDataHot, legalDataNew])
legalData.shape

(1976, 8)

In [7]:
# Dropping duplicates
legalData = legalData.drop_duplicates(keep=False)

In [8]:
# Final shape
legalData.shape

(1962, 8)

In [9]:
# Keeping track of the size of all of the final dataframes
entriesCount.append(legalData.shape[0])

The process outlined above for the legalData is repeated for every subreddit....

## Adulting

In [10]:
adDataNew = pd.read_csv("../data/adData.csv")
adDataHot = pd.read_csv("../data/adData2.csv")

In [11]:
adDataNew.shape

(823, 8)

In [12]:
adDataHot.shape

(847, 8)

In [13]:
adData = pd.concat([adDataHot, adDataNew])
adData.shape

(1670, 8)

In [14]:
adData = adData.drop_duplicates(keep=False)

In [15]:
adData.shape

(1670, 8)

In [16]:
entriesCount.append(adData.shape[0])

## Medicine

In [17]:
medDataNew = pd.read_csv("../data/medData.csv")
medDataHot = pd.read_csv("../data/medData2.csv")

In [18]:
medDataNew.shape

(759, 8)

In [19]:
medDataHot.shape

(973, 8)

In [20]:
medData = pd.concat([medDataHot, medDataNew])
medData.shape

(1732, 8)

In [21]:
medData = medData.drop_duplicates(keep=False)

In [22]:
medData.shape

(1732, 8)

In [23]:
entriesCount.append(medData.shape[0])

## High School

In [24]:
hsDataNew = pd.read_csv("../data/hsData.csv")
hsDataHot = pd.read_csv("../data/hsData2.csv")

In [25]:
hsDataNew.shape

(774, 8)

In [26]:
hsDataHot.shape

(805, 8)

In [27]:
hsData = pd.concat([hsDataHot, hsDataNew])
hsData.shape

(1579, 8)

In [28]:
hsData = hsData.drop_duplicates(keep=False)

In [29]:
hsData.shape

(1579, 8)

In [30]:
entriesCount.append(hsData.shape[0])

## Broadway

In [31]:
bwayDataNew = pd.read_csv("../data/bwayData.csv")
bwayDataNew2 = pd.read_csv("../data/bwayData3.csv")
bwayDataHot = pd.read_csv("../data/bwayData2.csv")

In [32]:
bwayDataNew.shape

(642, 8)

In [33]:
bwayDataHot.shape

(633, 8)

In [34]:
bwayDataNew2.shape

(629, 8)

In [35]:
bwayData = pd.concat([bwayDataHot, bwayDataNew, bwayDataNew2])
bwayData.shape

(1904, 8)

In [36]:
bwayData = bwayData.drop_duplicates(keep=False)

In [37]:
bwayData.shape

(1900, 8)

In [38]:
entriesCount.append(bwayData.shape[0])

## Pittsburgh

In [39]:
pghDataNew = pd.read_csv("../data/pghData.csv")
pghDataNew2 = pd.read_csv("../data/pghData3.csv")
pghDataHot = pd.read_csv("../data/pghData2.csv")

In [40]:
pghDataNew.shape

(624, 8)

In [41]:
pghDataNew2.shape

(606, 8)

In [42]:
pghDataHot.shape

(549, 8)

In [43]:
pghData = pd.concat([pghDataHot, pghDataNew, pghDataNew2])
pghData.shape

(1779, 8)

In [44]:
pghData = pghData.drop_duplicates(keep=False)

In [45]:
pghData.shape

(1775, 8)

In [46]:
entriesCount.append(pghData.shape[0])

## Rant

In [47]:
rantDataNew = pd.read_csv("../data/rantData.csv")
rantDataNew2 = pd.read_csv("../data/rantData3.csv")
rantDataHot = pd.read_csv("../data/rantData2.csv")

In [48]:
rantDataNew.shape

(936, 8)

In [49]:
rantDataNew2.shape

(934, 8)

In [50]:
rantDataHot.shape

(537, 8)

In [51]:
rantData = pd.concat([rantDataHot, rantDataNew, rantDataNew2])
rantData.shape

(2407, 8)

In [52]:
rantData = rantData.drop_duplicates(keep=False)

In [53]:
rantData.shape

(2395, 8)

In [54]:
entriesCount.append(rantData.shape[0])

## CS Career Questions

In [55]:
ccqDataNew = pd.read_csv("../data/ccqData.csv")
ccqDataHot = pd.read_csv("../data/ccqData2.csv")

In [56]:
ccqDataNew.shape

(990, 8)

In [57]:
ccqDataHot.shape

(581, 8)

In [58]:
ccqData = pd.concat([ccqDataHot, ccqDataNew])
ccqData.shape

(1571, 8)

In [59]:
ccqData = ccqData.drop_duplicates(keep=False)

In [60]:
ccqData.shape

(1565, 8)

In [61]:
entriesCount.append(ccqData.shape[0])

## Anime

In [62]:
animeDataNew = pd.read_csv("../data/animeData.csv")
animeDataNew2 = pd.read_csv("../data/animeData3.csv")
animeDataHot = pd.read_csv("../data/animeData2.csv")

In [63]:
animeDataNew.shape

(761, 8)

In [64]:
animeDataNew2.shape

(593, 8)

In [65]:
animeDataHot.shape

(194, 8)

In [66]:
animeData = pd.concat([animeDataHot, animeDataNew, animeDataNew2])
animeData.shape

(1548, 8)

In [67]:
animeData = animeData.drop_duplicates(keep=False)

In [68]:
animeData.shape

(1548, 8)

In [69]:
entriesCount.append(animeData.shape[0])

## Explain Like I'm Five

In [70]:
elifDataNew = pd.read_csv("../data/elifData.csv")
elifDataNew2 = pd.read_csv("../data/elifData3.csv")
elifDataNew3 = pd.read_csv("../data/elifData4.csv")
elifDataHot = pd.read_csv("../data/elifData2.csv")

In [71]:
elifDataNew.shape

(588, 8)

In [72]:
elifDataNew2.shape

(589, 8)

In [73]:
elifDataNew3.shape

(594, 8)

In [74]:
elifDataHot.shape

(316, 8)

In [75]:
elifData = pd.concat([elifDataHot, elifDataNew, elifDataNew2, elifDataNew3])
elifData.shape

(2087, 8)

In [76]:
elifData = elifData.drop_duplicates(keep=False)

In [77]:
elifData.shape

(2077, 8)

In [78]:
entriesCount.append(elifData.shape[0])

## College

In [79]:
collegeDataNew = pd.read_csv("../data/collegeData.csv")
collegeDataHot = pd.read_csv("../data/collegeData2.csv")

In [80]:
collegeDataNew.shape

(934, 8)

In [81]:
collegeDataHot.shape

(749, 8)

In [82]:
collegeData = pd.concat([collegeDataHot, collegeDataNew])
collegeData.shape

(1683, 8)

In [83]:
collegeData = collegeData.drop_duplicates(keep=False)

In [84]:
collegeData.shape

(1683, 8)

In [85]:
entriesCount.append(collegeData.shape[0])

## NBA

In [86]:
sportsDataNew = pd.read_csv("../data/sportsData.csv")
sportsDataNew2 = pd.read_csv("../data/sportsData3.csv")
sportsDataNew3 = pd.read_csv("../data/sportsData4.csv")
sportsDataHot = pd.read_csv("../data/sportsData2.csv")

In [87]:
sportsDataNew.shape

(639, 8)

In [88]:
sportsDataHot.shape

(68, 8)

In [89]:
sportsDataNew2.shape

(641, 8)

In [90]:
sportsDataNew3.shape

(650, 8)

In [91]:
sportsData = pd.concat([sportsDataHot, sportsDataNew, sportsDataNew2, sportsDataNew3])
sportsData.shape

(1998, 8)

In [92]:
sportsData = sportsData.drop_duplicates(keep=False)

In [93]:
sportsData.shape

(1998, 8)

In [94]:
entriesCount.append(sportsData.shape[0])

## Cryptocurrency

In [95]:
cryptoDataNew = pd.read_csv("../data/cryptoData.csv")
cryptoDataNew2 = pd.read_csv("../data/cryptoData3.csv")
cryptoDataNew3 = pd.read_csv("../data/cryptoData4.csv")
cryptoDataHot = pd.read_csv("../data/cryptoData2.csv")

In [96]:
cryptoDataNew.shape

(323, 8)

In [97]:
cryptoDataHot.shape

(309, 8)

In [98]:
cryptoDataNew2.shape

(445, 8)

In [99]:
cryptoDataNew3.shape

(449, 8)

In [100]:
cryptoData = pd.concat([cryptoDataHot, cryptoDataNew, cryptoDataNew2, cryptoDataNew3])
cryptoData.shape

(1526, 8)

In [101]:
cryptoData = cryptoData.drop_duplicates(keep=False)

In [102]:
cryptoData.shape

(1526, 8)

In [103]:
entriesCount.append(cryptoData.shape[0])

## Lawyer Talk

In [104]:
lawyerDataNew = pd.read_csv("../data/lawyerData.csv")
lawyerDataHot = pd.read_csv("../data/lawyerData2.csv")

In [105]:
lawyerDataNew.shape

(719, 8)

In [106]:
lawyerDataHot.shape

(799, 8)

In [107]:
lawyerData = pd.concat([lawyerDataHot, lawyerDataNew])
lawyerData.shape

(1518, 8)

In [108]:
lawyerData = lawyerData.drop_duplicates(keep=False)

In [109]:
lawyerData.shape

(1518, 8)

In [110]:
entriesCount.append(lawyerData.shape[0])

## Gaming

In [111]:
gamingDataNew = pd.read_csv("../data/gamingData.csv")
gamingDataNew2 = pd.read_csv("../data/gamingData3.csv")
gamingDataNew3 = pd.read_csv("../data/gamingData4.csv")
gamingDataNew4 = pd.read_csv("../data/gamingData5.csv")
gamingDataHot = pd.read_csv("../data/gamingData2.csv")
gamingDataHot2 = pd.read_csv("../data/gamingData6.csv")

In [112]:
gamingDataNew.shape

(463, 8)

In [113]:
gamingDataNew2.shape

(368, 8)

In [114]:
gamingDataNew3.shape

(368, 8)

In [115]:
gamingDataNew4.shape

(371, 8)

In [116]:
gamingDataHot.shape

(89, 8)

In [117]:
gamingData = pd.concat([gamingDataHot, gamingDataHot2, gamingDataNew, gamingDataNew2, gamingDataNew3, gamingDataNew4])
gamingData.shape

(1742, 8)

In [118]:
gamingData = gamingData.drop_duplicates(keep=False)

In [119]:
gamingData.shape

(1542, 8)

In [120]:
entriesCount.append(gamingData.shape[0])

### Notes

The reason why some of the subreddits have multiple csv files, instead of just 2-3, is because the initial query did not return enough values. As discussed below, I decided that all of the final dataframes will have 1500 rows. However, some of the files did not have enough for 1500 rows which required me to go back into the dataCollection notebook and create more csv files with more posts. gamingData gave me the most trouble, which I hypothesize is due to many of the posts on that subreddit only have images or videos in the main post.

## Calculations

In [121]:
# Show all of the counts
entriesCount

[1962,
 1670,
 1732,
 1579,
 1900,
 1775,
 2395,
 1565,
 1548,
 2077,
 1683,
 1998,
 1526,
 1518,
 1542]

In [122]:
# Ensuring that all 15 subreddits are in the list
len(entriesCount)

15

In [123]:
# Finding the minimum to see where all of the dataframes can be cut off to be the same size
min(entriesCount)

1518

## Dropping Entries

In the part, I drop posts from the dataframes so that they are all 1500 rows.

In [124]:
legalData = legalData[:1499]

In [125]:
adData = adData[:1499]

In [126]:
medData = medData[:1499]

In [127]:
hsData = hsData[:1499]

In [128]:
bwayData = bwayData[:1499]

In [129]:
pghData = pghData[:1499]

In [130]:
rantData = rantData[:1499]

In [131]:
ccqData = ccqData[:1499]

In [132]:
animeData = animeData[:1499]

In [133]:
elifData = elifData[:1499]

In [134]:
collegeData = collegeData[:1499]

In [135]:
sportsData = sportsData[:1499]

In [136]:
cryptoData = cryptoData[:1499]

In [137]:
lawyerData = lawyerData[:1499]

In [138]:
gamingData = gamingData[:1499]

## Cleaning Up

While reading in the data, some weird column was added. I will be removing this column from all of the dataframes.

In [139]:
gamingData = gamingData.drop('Unnamed: 0', axis=1)

In [140]:
laywerData = lawyerData.drop('Unnamed: 0', axis=1)

In [141]:
cryptoData = cryptoData.drop('Unnamed: 0', axis=1)

In [142]:
sportsData = sportsData.drop('Unnamed: 0', axis=1)

In [143]:
collegeData = collegeData.drop('Unnamed: 0', axis=1)

In [144]:
elifData = elifData.drop('Unnamed: 0', axis=1)

In [145]:
animeData = animeData.drop('Unnamed: 0', axis=1)

In [146]:
ccqData = ccqData.drop('Unnamed: 0', axis=1)

In [147]:
rantData = rantData.drop('Unnamed: 0', axis=1)

In [148]:
pghData = pghData.drop('Unnamed: 0', axis=1)

In [149]:
bwayData = bwayData.drop('Unnamed: 0', axis=1)

In [150]:
hsData = hsData.drop('Unnamed: 0', axis=1)

In [151]:
medData = medData.drop('Unnamed: 0', axis=1)

In [152]:
adData = adData.drop('Unnamed: 0', axis=1)

In [153]:
legalData = legalData.drop('Unnamed: 0', axis=1)

## Final Dataframes

Show all of the dataframes, so that all of the columns and size looks correct.

In [154]:
gamingData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of Upvotes,Ratio of Upvotes
324,I was only 9 years old.,11pk3k2,&#x200B;\n\nhttps://preview.redd.it/4qwzhpc0ec...,ElectronicFirstcom,2,0,0.32
67,What game should I play next?,11ukbpo,Im looking for a bit of inspiration here. Whi...,skafkaesque,27,0,0.41
97,Any tips for improving at strategy games like ...,11uaic5,I really want to get into these games and I ha...,JackBoyEditor,6,0,0.50
245,What are the best games that can be completed ...,11qupr2,I always loved the short and sweet games like ...,MedicalNote,48,5,0.69
355,Games for Couples on switch?,118a9z8,"Hey Folks, I was looking for some online switc...",NocturnalMee166,10,1,1.00
61,Tried hyperdimension Neptunia re;birth 1. Not ...,11v1yil,Ive played it for about an hour and its kind...,ZenKoko,6,0,0.46
319,Rain Worlds interesting world building doesn...,118j8zc,I really wanted to enjoy Rain World; I wanted ...,RogerPeculiar,12,1,0.50
327,What are your favorite games of all time?,118hhjs,I wanted to know what your favorite games are ...,sebascq,29,2,0.55
273,Any recommendations for a nice game to play wi...,11qgfrt,"6 months ago, one of my best friends moved to ...",SirMegalomaniac,12,7,0.74
52,Have you ever played online competetive game a...,11uv3ze,"Just curiois, for me it's chess xD",AleksanderMerk,19,0,0.50

In [155]:
laywerData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of Upvotes,Ratio of Upvotes
38,Any recommendations/insights from in house cor...,11sq44z,Recently started a new role as in-house corpor...,itchyblood,0,2,0.75
47,Corporate Franchise Tax,11s6fz0,Does anybody have any recommendations for grou...,amaz50,3,1,1.00
502,GPT3 passes The Bar,101olmo,https://arxiv.org/abs/2212.14402\n\nWhat does ...,plowfaster,19,5,0.69
664,What does your life look like as a lawyer,zkiq98,"Ever since I was little, people have always to...",TheKillBosby,48,28,0.78
458,Information Systems or Other business major fo...,1067qzm,"Ok, bear with me for this one. Im a freshman ...",Elegant_Release_6054,4,0,0.50
678,Getting reported for refusing a case?,ziadef,"I decided I didnt want to work with this guy,...",seedsnearth,36,71,0.95
585,What force/weight does a subpoena from Special...,zrx2nt,"Not a legal advice request, LOL.",El-Kabongg,6,0,0.40
759,FOR WORKIN LAWYERS,100wjbv,What problems do you face with being a lawyer ...,TSJMEDIA,12,0,0.19
425,How many hours do big law associates really work?,108mzle,"Basically the title, I know most bill at least...",tossd55,14,10,1.00
655,ISO Best Locations for Trial Attorneys,zlcljf,Hi all!!! I live in a city where everything se...,humanitydaily93,23,4,0.70

In [156]:
cryptoData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of Upvotes,Ratio of Upvotes
179,Lets talk about Plutus,11uznm8,I have been a user of Plutus. For those of you...,yldf,14,0,0.44
12,Buying Moons on Sushi Swap with Metamask: how ...,11vqbbo,Today I successfully bought my first Moons thr...,poeselkots,93,20,0.74
361,Up we go again!,11tjfim,Bitcoin pushing past $25k and very close to pa...,R0Y-BATTY,93,8,0.62
195,IRL Karma for r/cc Tippers: the Arbitrum airdrop,11ubyeg,Many of you have probably seen scam links/prom...,LATech99,130,18,0.78
197,Coinbase Wallet is Trash,118eld5,I've been using Coinbase and Coinbase pro for ...,TwoStepLaunch,19,1,0.57
252,Capital Gains Tax free allowance is changing f...,11tolag,"If you live in the UK first 12,300 of profits...",rootpl,115,20,0.78
133,What is the most creative way of hiding the se...,11vhfp5,Just a friendly reminder that your seed phrase...,mbouhda,231,34,0.81
114,I think I know how CBDCs will be introduced in...,11vmpng,The primary issue we're facing now is that ban...,TheQuantumPhysicist,30,8,0.83
28,A discussion - could Reddit Moons be considere...,11a9afo,Weve seen the recent SEC enforcement actions ...,bingorunner,104,21,0.72
237,Finally had to lie to family about losing mone...,117xpla,Welp officially lied straight to my family an...,moonRekt,53,2,0.50

In [157]:
sportsData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of upvotes,Ratio of Upvotes
47,Best Starting Lineup of 2-Way Players?,11vp2v4,2-way players are my favorite to watch because...,DJFunkenstein69,43,3,0.64
261,Charles Barley used to wear uniforms into the ...,11u9p63,Here is Charles talking about having to wear u...,thepobv,16,73,0.90
573,[Mavs PR] Tim Hardaway Jr. (left calf contusio...,11rnqsp,"According to Mavs PR, Luka will miss tomorrow'...",BayonettaBasher,30,41,0.90
341,Pascal Siakam Ends His Recent Slump With a Win...,11tdjwx,On:\n\n9/19 FG\n\n3/5 3P\n\n4/8 FT\n\nAfter a ...,CazOnReddit,20,137,0.93
81,Warriors now have perfectly inverse home (29-7...,11v9vj3,What a peculiar team to have such contrasting ...,rptd333,20,151,0.92
105,The Sixers just played their 9th game in March...,11v7pjl,[Source -- Brock Landes](https://twitter.com/L...,NorthCoastToast,50,439,0.87
76,How far does the all-hate squad go,11vx3bp,Chris Paul\n\nKyrie Irving\n\nDillon Brooks\n\...,Ok_Librarian2474,59,17,0.72
620,GAME THREAD: New York Knicks (40-30) @ Portlan...,11rh0r8,##General Information\n **TIME** |**MED...,NBA_MOD,43,8,0.76
67,Jayson Tatum hasnt shot 50%+ in back to back ...,11vqogh,Despite averaging 30 ppg on a very respectable...,noideawhatsgoingon45,158,759,0.92
305,Giannis: I'm not as talented as Steph. I'm not...,11tw5sz,https://twitter.com/SportsCenter/status/163672...,0dias_Chrysalis,1559,13658,0.93

In [158]:
collegeData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of upvotes,Ratio of Upvotes
413,How do close friends around each other so much...,1140yss,It doesnt really make much sense to me how ur...,sucktig,10,0,0.40
366,Questions about choosing the best school,114tmo6,"Hello all, I am looking to return to college a...",repairasaurus,2,2,1.00
88,So Ive considered changing my major from comp...,11ubpla,So Im currently majoring in computer science ...,IceMan420_,4,2,1.00
577,What are some good preparations to make before...,111isi7,"Hello everybody, I\[m18\] am hopefully gonna ...",AuthenticSteveRogers,3,10,1.00
211,Incoming freshman wants to be my roommate next...,11rcm30,I'll be a junior next year and am currently lo...,bottleoftrash,38,104,0.94
540,Backup Major Suggestions,11lkwdq,Hello! Im currently an undergraduate freshman...,itzz-icey,2,1,1.00
619,Need some perspective on being a student leader?,110rd99,"**Background**: Hi all, I am a college student...",PineTreePuffin,2,2,0.67
606,Not sure about my choice...(epic clickbait),11jzuj1,I am not sure if this is the proper subreddit ...,Shudderer,0,2,1.00
504,Turn it in and chat GPT,11metq7,Has turn it in caught on to Chat GPT yet pls l...,brandon2155,7,0,0.30
14,How do I get into the habit of studying?,11adz89,"4th semester at a CC, and now I'm getting worr...",Mr-MuffinMan,2,2,1.00

In [159]:
elifData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of upvotes,Ratio of Upvotes
380,eli5: why are flammable gasses flammable,11nrug9,Well the title explains it but why are flammab...,CriticalTruth283,7,0,0.30
81,Eli5: Helicopter down wash,11u3pca,Can someone please explain to me why down wash...,Sagittarius1996,20,0,0.38
197,ELI5 how does LED and smart lights generate di...,11s592g,The smart light bulbs and led have options to ...,Miserable-Scallion87,3,0,0.44
450,Eli5: How do plenty of low sound cumulate?,11m5kcl,Lets imagine that someone whisper something to...,ImSupposedToStudy,4,0,0.50
205,Eli5: how does equal day/normalized reporting ...,11rnkus,I understand normalised accounting is normaliz...,Airyrelic,3,4,0.76
81,ELI5:How do companies avoid using the same bar...,11t3odz,How do they avoid using the same barcode more ...,DJ_Micoh,144,396,0.90
156,ELI5: When you sell stock through a brokerage ...,11ss9ut,"If I decide to unload some stock, whos actual...",Strayriffs,8,14,0.69
17,ELI5: How Bond Markets work,11vlise,I understand that Bond prices fall as interest...,2WeekTraveller,12,4,0.60
232,ELI5: How do atoms create DNA?,11rphfg,How do they come together to create DNA? How d...,Ivebeendoingurmom,7,0,0.36
178,ELI5: Why does the London Underground have wir...,11s2kxc,"Everywhere when I am on the Underground, I alw...",Comfortable-Table-57,8,5,0.67

In [160]:
animeData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of upvotes,Ratio of Upvotes
238,Kyuuketsuki Sugu Shinu Season 2 The Vampire ...,11qais9,"*Kyuuketsuki Sugu Shinu Season 2*, episode 10\...",AutoLovepon,31,176,0.92
212,Common Criticisms You Disagree With,118emr3,There are a lot of constructive criticism for ...,Born-Procedure-5908,445,104,0.87
247,Cap Kakumei Bottleman DX - Episode 49 discussion,11pwhct,"*Cap Kakumei Bottleman DX*, episode 49\n\n\n\n...",AutoLovepon,1,1,0.54
345,[Do You Remember Love - Macross Franchise 40th...,11o3omw,#**Episode 22 - [Extreme Bravery](https://i.im...,Shimmering-Sky,47,28,0.90
514,Trigun Stampede - Episode 7 discussion,115hxl8,"*Trigun Stampede*, episode 7\n\n\n\n# [Rate th...",AutoLovepon,232,807,0.95
15,Otonari no Tenshi-sama ni Itsunomanika Dame Ni...,11uqr5s,*Otonari no Tenshi-sama ni Itsunomanika Dame N...,AutoLovepon,363,1113,0.95
290,The Familiar of Zero Lent In Violent Easter Re...,117isy1,Hello everyone! I am Holofan4life.\n\nWelcome ...,Holofan4life,95,26,0.85
720,Looking for stuff similar to Ginga Eiyuu Dense...,113jgbr,So about 2 months ago I finished the original ...,pardewje,18,0,0.50
624,The Vision of Escaflowne,114buio,"So, I just finished watching this anime for th...",Librirgo,18,0,0.50
72,Which one should I watch next?,119zl01,Which anime should I start from these?\n- nats...,Luleinn,4,0,0.45

In [161]:
ccqData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of upvotes,Ratio of Upvotes
173,I'll be starting work with a major bank in two...,11tbini,The job will most likely be Python and cloud r...,oculusface,7,1,0.66
81,Cyber security question,11uipce,Hi I am a 15 year old currently in my 4th year...,NotOriqi_,3,2,0.76
383,Whats your specialization?,11r55sj,Im currently planning on going back for maste...,4bangbrz,5,0,0.50
637,"A CS fresh grad in a third-world country, look...",11nom4o,Hey. So I'm a fresh graduate currently living ...,EgyptianPhantoming,23,2,0.60
270,Where to Go From Here (web dev).,11sabx5,"Hi all, \nI have been diving into coding for...",OmarAlhussari,5,1,1.00
738,Is this normal?,11mi8m6,I work for a big company that's pretty corpora...,ineedajobasap00,22,0,0.40
122,Is this a bit too sketch?,11u1rgd,"I will graduating with a BSCS in May, so I've ...",MushroomPepper,5,0,0.50
791,What is your favorite aspect of coding logic o...,11lx6gc,"Mine are template strings, or arrays. These a...",Alternative_Draft_76,16,1,0.56
205,Undergrad looking intk becoming a SWE with foc...,11t06kt,CC freshman here... so i have been researching...,SnooPineapples7791,0,0,0.33
529,future safe line of industry,11p9f66,I have a background on \[C\] embedded/firmware...,ntn8888,0,0,0.50

In [162]:
rantData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of upvotes,Ratio of Upvotes
250,Cringey people,11r9w68,There is nobody I find cringier on social medi...,Dry_Average2082,4,3,0.72
360,Is it hard to understand that its better not ...,11pccjs,I have seen this happen a lot! People always h...,GoodAd6197,0,5,0.65
464,Pitched an idea and had POS try and do me dirt...,11n7kj6,"Seriously??! HOLY SHIT, is this DIRTY! Like - ...",Lionoras,0,1,1.00
810,I hate how holier-than-thou my friends can be,11et1to,So I joined a new school in September and made...,justan_overthinker,0,2,1.00
186,Bullying cant be stopped,11sitt5,"I was bullied for years, until I left school I...",_gay_gremlin_,0,2,0.75
697,"Stop asking me how Im doing, I found out my b...",11hl1og,I dont live at my parents house and residence...,Owlbelle0,0,4,1.00
546,Why do so many people have super bright LED he...,11lf4p8,Im so sick and tired of being blinded by thes...,moistdragons,21,67,0.95
359,"As an artist, I am fascinated by the potential...",11pf9op,"Firstly, I worry about the devaluation of huma...",oooooooooooh12,2,6,1.00
12,I hate when people make comments or remarks th...,11vqspi,I was playing a game and I saw two teammates f...,dweebmushu,0,2,0.75
842,I'm tired of my ADHD and memory,11e3abf,"My memory has always been a massive problem, a...",Steve_the_sequel,2,4,1.00

In [163]:
pghData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of upvotes,Ratio of Upvotes
250,Lemon Twigs Tonight,11mucn3,Any Lemon Twig fans in the house going to the ...,FanofBobRooney,0,0,0.47
168,Getgo order,11qs7u7,What's your getgo food order? What's your fav...,8perfectsteps,15,0,0.25
242,How safe is the area around Coltart Ave (Oakla...,11nc2o3,"I wont post the exact street, but Im Im mov...",willy_glove,20,0,0.50
72,Interim Tax Assessment for New Construction,1182flh,Kind of urgent. We received our interim tax as...,totorostar,16,0,0.39
402,Looking for Bingo spots in Southern Pittsburgh,10xe3zn,Looking for bingo spots for my mom and I. We d...,Cheddar-chonk,7,5,0.63
357,"Funny Library book display - ""Have you seen my...",10yxu4m,Saw [this post](https://www.facebook.com/north...,DIY_Creative,6,71,0.93
110,Pittsburgh to century 3 Mall,11sfavp,"Hello all, thank you all in advance for your h...",Ready-to-learn,19,9,0.70
373,Where can I register a car in the Oakland area?,10y8fuc,"Google gives me ambiguous results, and Ive he...",Watahberry,5,0,0.33
270,Where to get fresh Cappelletti?,111rq2w,Does anyone know where to get fresh Cappellett...,duker_mf_lincoln,6,0,0.39
448,Question about PA Car Tilting,11f5u7o,Moving to Pittsburgh this summer and had a car...,Dr_Squirt_RM_MD,11,0,0.42

In [164]:
bwayData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of upvotes,Ratio of Upvotes
284,How far in advanced do I need to buy tickets?,10ygbrh,Ill be visiting at the end of the month and I...,jsoss,8,9,0.84
349,Ideal Broadway (or another) show for me and my...,11lj42o,I'm 19 and she's >40. Any show recommendations...,Far_Atmosphere9627,10,3,0.67
519,Curious question: Whats the longest time a pl...,10o7et5,It is widely known that it takes many years of...,LavishnessFrequent19,13,17,0.91
292,Favorite showstoppers?,11n7ng3,What are your guys favorite show stopping num...,yetiupsettispaghetti,23,2,0.75
134,Parade matinee canceled on 4/5?,11s5xyc,Hi everyone I just got an email from Telecharg...,TicoDreams,10,1,0.67
175,Seeing Shucked tomorrow!,11pvyg2,Im just excited for a laugh! I wanted to see ...,FilmBuffer1000,6,15,0.76
386,Broadway Themed WiFi names wanted!,10txwcx,hello!\n\nI just recently moved into an apartm...,TheRealMShady22,124,177,0.94
165,Kimberly Akimbo in July???,11r8jbm,I noticed that Kimberly Akimbo tickets stop be...,bubz99,4,0,0.50
630,Musical Recommendation Thread,10j48zt,I feel like it can sometimes get a little tire...,MellonPhotos,41,4,0.67
188,Underrated Shows Playing Now?,11qce4y,Headed up to NY the weekend after next (Billy ...,Lady_Disdain2014,79,60,0.93

In [165]:
hsData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of upvotes,Ratio of Upvotes
754,My child wants to leave our home,10s39zo,"Its official, my marriage is over. My relatio...",ess3335,26,50,0.79
416,big school vs small school,119p990,I currently go to a pretty small school and fo...,Limenail,0,1,1.00
378,HONOR ROLL HELP,10tpqp0,\n\nIf i pass all my other class with 90+ avg ...,RubyRoseTurner,47,1,0.48
690,"TGR3M1 (Communications Technology: Radio, Audi...",10b9ftk,I'm rethinking about my course selection.\n\nH...,jijaku,0,1,1.00
131,Student Parlement Debate,115809s,"Hi, just joined Reddit because I needed some o...",SparkyBoomer23,2,2,1.00
67,"Junior year schedule, suggestions?",1186p0a,Ap csa\nUS history honors (might appeal for ap...,justinezoo,1,0,0.50
649,Math Tutor for SAT,10e0uj9,Hi - I am looking for a math tutor for my kid ...,krish727,2,1,0.67
164,"Im in grade 12, 17 years old and about to fin...",113i9bt,Pls someone give me advice Ive been\n depress...,BookGlittering4671,6,9,1.00
15,have you know anyone who failed classes and go...,11a5nfi,Or do they end up on poor jobs,Boring-Coat-5478,22,14,0.81
543,I need help deciding for my grade 12 course se...,113aodt,I have few problems...\n\n1. I'm not sure whet...,Extension_Show_821,0,1,1.00

In [166]:
medData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of upvotes,Ratio of Upvotes
286,Death Notes,109oqfo,Do any of you have a sign off/tag line when yo...,chickaboom_,69,73,0.97
328,Why do we accept yelling/harassment in medicine?,10tj8e3,In what other civilian professional occupation...,boonknuck,160,570,0.95
378,Does it financially or practically make sense ...,10pn4wn,"By simple labs I mean CBC/CMP, bacterial cultu...",hopeforgreater,69,27,0.78
209,Woman goes viral for sharing how ER doctors di...,116fen2,NaN,FaFaRog,281,622,0.92
202,Amazon's new drug prescription program,10kafmh,Forgive me if this has already been posted but...,kingjames106,160,220,0.96
56,A follow-up,110vqbo,This is a follow-up of my previous post regard...,Shady31413,4,43,0.94
871,Do you think doctors or residents should rotat...,z50q7n,"Hello,\n\nJust looking for perspective on if M...",Ainaelewr,95,60,0.75
83,Anybody know how to MacGuyver a nebulizer into...,10xr5q7,[Papers says it not only works but has even su...,noobREDUX,34,9,1.00
342,Female doctor changing last name after marriage,zzt3md,"I am getting married soon, and I am having an ...",PotentialWhereas5173,522,596,0.92
12,Do Inpatient Podiatrists Clip Nails?,11unohy,My patient asked me if a podiatrist can come a...,Registered-Nurse,154,135,0.97

In [167]:
adData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of upvotes,Ratio of Upvotes
488,Yall wish me luck,119ktv8,I got a job interview I feel lucky about this one,Jacob-the-jester,5,45,1.00
607,How do I save up if my bills are nearly the sa...,11426ja,"Its like I can barely save any money, im liter...",No_Contribution2112,91,186,0.96
154,Like how do people manage this?,11ohjyt,It's impossible to keep my apartment clean for...,MeanEstablishment024,64,142,0.95
63,Keeping promises to myself,11t0j2j,"I am not the best driver, as a 22M, I have bee...",Anonymoose2110,10,7,1.00
476,Taking our first vacation ever as a couple aft...,10pjnfo,We were thinking a cruise or I want to go to E...,Capital_Affect_2773,4,2,1.00
580,Do I need to defrost my mini fridge?,10l9rgj,I'm moving tomorrow afternoon into a house wit...,sweet_like_honey20,3,2,1.00
57,How do you make a life plan to a desired life?,11tjnxy,\n\n\n\nNeeded some advice on actually siting ...,Akashh23_pop,2,5,0.86
480,to get life insurance or not to get life insur...,11a27e4,That is the question. I (34F) don't have any p...,BeeProfessional2613,71,37,0.91
120,How do you deal with parents with a victim men...,1163hmj,"For example, when I try to express to them som...",EstablishmentOdd7929,3,2,1.00
89,Savings bonds,11s5z9y,"Do any banks still take savings bonds, I found...",tykwest,2,2,1.00

In [168]:
legalData.sample(10)

,Title,Id,Text,Author,Number of Comments,Number of upvotes,Ratio of Upvotes
702,How do I find a home for someone who's an alco...,11tzcxl,Hi everyone. I'm looking for an advice from t...,Comfortable-Role-703,1,0,0.25
69,Should I sue the cereal company?,11vsyw9,"Hello everyone, so Im a teen (18m) I take car...",heat_wave29,17,0,0.14
856,Car loan contract question,11td2y7,Is a car loan contract invalid if the co-signe...,hitides666,0,1,0.67
845,Applying For Apartments For My Disabled Mother,11tdoaj,Oregon. \nI am helping my mother apply for ap...,WilNotJr,9,1,1.00
821,Gf just got served,11tfo9q,So my gf was just served. She's being sued by ...,Puzzled_Bug441,7,0,0.33
11,Do I have to pay for fathers's estate costs?,11vpejm,"My father has five children. In his will, he ...",tryhardereverydayy,6,18,0.88
168,What Can I do without evidence of Sexual Assault?,11vkgwu,He forced himself on me months ago while I was...,Ok-Hunter-7646,4,0,0.40
361,Leased truck scenario/end lease early,11ut0lt,The truck I have been leasing for the past 2 y...,Jacobglen66,5,1,1.00
427,can i get into trouble for this?,11unxy5,"my little sister, only 16, killed herself on w...",candacedickfitinu,5,0,0.20
65,Debt Collector Contacting Me for a Debt I Neve...,11vqn8d,(California)\nA family member got a phone call...,WhiteRose424,2,2,1.00

## New CSV Files

In [169]:
legalData.to_csv('finalLegalData.csv')
adData.to_csv('finalAdData.csv')
medData.to_csv('finalMedData.csv')
hsData.to_csv('finalHsData.csv')
bwayData.to_csv('finalBwayData.csv')
pghData.to_csv('finalPghData.csv')
rantData.to_csv('finalRantData.csv')
ccqData.to_csv('finalCcqData.csv')
animeData.to_csv('finalAnimeData.csv')
elifData.to_csv('finalElifData.csv')
collegeData.to_csv('finalCollegeData.csv')
sportsData.to_csv('finalSportsData.csv')
cryptoData.to_csv('finalCryptoData.csv')
lawyerData.to_csv('finalLawyerData.csv')
gamingData.to_csv('finalGamingData.csv')